<div class="header">    
    <div class="menu">
            <div class="menu-section">
                <a href="#">Home</a>
                <a href="#">My Own Playlist</a>
                <a href="#">Profile</a>
            </div>
            <button class="login-button">Login / Sign Up</button>
    </div>
    <div class="header-overlay">
        <h1> Make Your Own Soundtrack</h1>
        <p> Enjoy the vibe </p>
        <div class="search-container">
            <input type="text" placeholder="Search for a song" class="searchbar"/>
        </div>
    </div>
</div>
