<h2 class="section-title">Trending by Genre</h2>

<div *ngFor="let playlist of playlists" class="playlist-wrapper">
  <h3 (click)="openPlaylist(playlist)" class="clickable">
    {{ playlist.title }}
  </h3>
</div>


<div class="modal" *ngIf="selectedPlaylist">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <h3>{{ selectedPlaylist.title }} Playlist</h3>
    <ul>
      <li *ngFor="let song of selectedPlaylist.tracks">
        {{ song.title }} - {{ song.artist }} ({{ song.genre }})
      </li>
    </ul>
  </div>
</div>